body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #15202b;
  color: #ffffff;
}

.post-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post-form-content {
  background-color: #192734;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  display: flex;
  flex-direction: column;
}

.post-form-textarea {
  width: 96%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #38444d;
  border-radius: 10px;
  background-color: #253341;
  color: #ffffff;
  resize: none;
  cursor: pointer;
}

.post-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-form-file-input {
  display: none;
}

.image-upload-label {
  cursor: pointer;
}

.post-form-button {
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.post-form-button:hover {
  background-color: #0d8ddb;
}

.generated-og-image {
  margin-top: 20px;
  text-align: center;
}

.generated-og-image img {
  max-width: 100%;
  border-radius: 10px;
}
